<% provide(:title, 'About') %>
<% provide(:pageheading, 'About') %>
<p>
	The HIE Sample Tracker enables researchers and facility staff at the Hawkesbury Institute for the Environment to manage, 
	document, and search for environmental samples collected at various sampling field sites. In particular, it:
	<ol>
		<li>
			allows research scientists to set up a batch of samples to be sampled at a particular facility
		</li>
		<li>
			allows facility staff to monitor what samples are being collected at a particular facility, on what dates, and 
			under which scientific project
		</li>
		<li>
			automatically creates sample information templates as well as sample barcodes for easy sample identification
		</li>
		<li>
			enables researchers to enter details of single samples using web forms, or multiple samples through batch 
			spreadsheet upload
		</li>
	</ol>
</p>
