<% provide(:title, 'Dashboard') %>
<% provide(:pageheading, "Dashboard for"+" " + current_user.firstname + " " + current_user.surname) %>
  
  <div class="row">
    <div class="col-xs-12">
      <h4>My Samples</h4>
      <%= render 'samples/samples' %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 rowline">
      <h4>My Sample Sets</h4>
      <%= render 'sample_sets/sample_sets' %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 rowline">
      <h4>My Containers</h4>
      <%= render 'containers/containers' %>
    </div>
  </div>
    
	
