<% provide(:title, 'Dashboard') %>
<% provide(:pageheading, "Dashboard for"+" " + current_user.firstname + " " + current_user.surname) %>
  
<div class="row">
  <div class="col-md-11">
    <h4></h4>
  </div>
  <div class="col-md-1">
    
    <!-- Help Button popup -->
	<button class="btn btn-default btn-block" data-toggle="modal" data-target="#SampleHelp">
	  Guide
	</button>
	
	<!-- Modal -->
	<div class="modal fade" id="SampleHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Dashboard</h4>
	      </div>
	      <div class="modal-body">
	        The Dashboard page gives an overview of all entities that belong to you and that you manage. In particular, it lists all Samples, Sample Sets 
	        and Containers that you have ownership for. You can navigate to any particular entity by using the 'View' link within the relevant listed tables.
	      </div>
	    </div>
	  </div>
	</div>
   
  </div>
</div>
  
  
  <div class="row">
    <div class="col-xs-12">
      <h4>My Samples</h4>
      <%= render 'samples/samples' %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 rowline">
      <h4>My Sample Sets</h4>
      <%= render 'sample_sets/sample_sets' %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 rowline">
      <h4>My Containers</h4>
      <%= render 'containers/containers' %>
    </div>
  </div>
    
	
