<% provide(:title, 'Home') %>
<% provide(:pageheading, "HIE Sample Tracker") %>
  
<% if signed_in? %>
	<p>
	  HIE Sample Tracker Dashboard
	</p>

	<p> 
	Welcome to the HIE Sample Tracker.	
	</p>
	    
<% else %>

  <div class="center hero-unit">
  
    <h2> This is the home page for the HIE Sample Tracker. </h2>
  
    <%= link_to "Register", register_path, class: "btn btn-large btn-primary" %>
  </div>

<% end %>