<% if signed_in? %>

  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/sample_set_form' %>
      </section>
    </aside>
  </div>
  
  <div class="row">
    <div class="span12">
      <h3>My Sample Sets</h3>
      <%= render 'shared/sample_sets' %>
    </div>
  </div>
  
<% else %>

  <div class="center hero-unit">
    <h1>HIE Sample Tracker</h1>
  
    <h2> This is the home page for the HIE Sample Tracker. </h2>
  
    <%= link_to "Register", register_path, class: "btn btn-large btn-primary" %>
  </div>

<% end %>