<div class="center hero-unit">
  <h1>HIE Sample Tracker</h1>

  <h2>
    This is the home page for the HIE Sample Tracker.
  </h2>

  <%= link_to "Register", register_path, class: "btn btn-large btn-primary" %>
</div>
