<% if signed_in? %>

  <% provide(:pageheading, "Home Page for"+" " + current_user.firstname + " " + current_user.surname) %>
  
  <div class="row">
    <div class="col-xs-12">
      <h3>My Samples</h3>
      <%= render 'samples/samples' %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <h3>My Sample Sets</h3>
      <%= render 'sample_sets/sample_sets' %>
    </div>
  </div>
    
<% else %>

  <div class="center hero-unit">
    <h1>HIE Sample Tracker</h1>
  
    <h2> This is the home page for the HIE Sample Tracker. </h2>
  
    <%= link_to "Register", register_path, class: "btn btn-large btn-primary" %>
  </div>

<% end %>