<% if @samples.any? %>
  <% if defined? @search %>
    <h5><%= @search.total %> results</h5> 
  <% else %>
    <h5><%= @samples.count %> results</h5>
  <% end %>
  
  <%= will_paginate @samples, :param_name => "s_page" %>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Sample ID</th>
        <th>Owner</th>
        <th>Facility</th>
        <th>Project</th>
        <th>Sample Set</th>
        <th>Sample Type</th>
        <th>Date Sampled</th>
        <th>Storage Location</th>
        <th>Complete?</th>
        <th>View?</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'samples/samples_table', collection: @samples, as: :sample %>
    </tbody>
  </table>
  
<% else %>
  <p>No Samples found</p>
<% end %>