<% if @samples.any? %>
  <%= will_paginate @samples %>
  <table class="table table-bordered table-striped table-hover" width="647">
    <thead>
      <tr>
        <th>Sample ID</th>
        <th>Owner</th>
        <th>Facility</th>
        <th>Project</th>
        <th>Member of Sample Set</th>
        <th>Tree</th>
        <th>Date Sampled</th>
        <th>Sampled?</th>
        <th>View?</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'samples/samples_table', collection: @samples, as: :sample %>
    </tbody>
  </table>
  
<% else %>
  <p>No Samples found</p>
<% end %>