<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New User Registration</h1>
    <p>Hi. A new user has requested an account on the HIE Sample Tracker. Navigate to the admin area to either allow or deny this request.</p>
    
  </body>
</html>