<% if @sample_sets.any? %>
  <h5><%= @sample_sets.count %> results</h5>
  <%= will_paginate @sample_sets, :param_name => "ss_page" %>
  
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Sample Set ID</th>
        <th>Owner</th>
        <th>Facility</th>
        <th>Number of Primary Samples</th>
        <th>Requested Sampling Date</th>
        <th>Status</th>
        <th>View?</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'sample_sets/sample_sets_table', collection: @sample_sets, as: :sample_set %>
    </tbody>
  </table>
  
<% else %>
  <p>No Sample Sets found</p>
<% end %>
