<% provide(:title, 'Sample Set List') %>



<div class="row">
  <div class="span12">
    <h1>Sample Set List</h1>
    <p><%= button_to "New Sample Set", {:action => 'new' }, :method => :get, :class=>"btn btn-success" %></p>
    <%= render 'shared/sample_sets' %>
  </div>
</div>
