<% provide(:title, 'Storage Location List') %>
<% provide(:pageheading, 'Storage Location List') %>

<div class="row">
  <div class="span12">
    <%= render 'storage_locations/storage_locations' %>
  </div>
</div>