<% provide(:title, 'Storage Location List') %>
<% provide(:pageheading, 'Storage Location List') %>

<div class="well well-sm">To request a new Storage Location, please contact g.devine@uws.edu.au</div>
<div class="row">
  <div class="col-xs-12">
    <%= render 'storage_locations/storage_locations' %>
  </div>
</div>