<% provide(:title, 'Facility List') %>
<% provide(:pageheading, 'Facility List') %>

<div class="well well-sm">To request a new Facility, please contact g.devine@uws.edu.au</div>
<div class="row">
  <div class="col-xs-12">
    <%= render 'facilities/facilities' %>
  </div>
</div>