<% provide(:title, 'Analysis Type List') %>
<% provide(:pageheading, 'Analysis Type List') %>

<div class="well well-sm">To request a new Analysis type, please contact g.devine@uws.edu.au</div>
<div class="row">
  <div class="col-xs-12">
    <%= render 'analyses/analyses' %>
  </div>
</div>