<% provide(:title, 'Project List') %>
<% provide(:pageheading, 'Project List') %>

<div class="well well-sm">To request a new Project, please contact g.devine@uws.edu.au</div>
<div class="row">
  <div class="col-xs-12">
    <%= render 'projects/projects' %>
  </div>
</div>